# Python cache
__pycache__/
*.pyc

# Claude Code config
.claude/
skills-lock.json

# Node / npm
node_modules/
package-lock.json

# Windows system files
desktop.ini

# Reference PDFs (copyrighted journal articles)
docs/papers/*.pdf

# Seminar slide screenshots (copyrighted)
docs/seminar/*.png

# Miscellaneous folder
misc/

# Cherief scRNA-seq large data
data/Cherief_scRNA-seq/GSM7832064_Control/
data/Cherief_scRNA-seq/GSM7832065_INMPP1/
data/Cherief_scRNA-seq/*.h5ad
data/Cherief_scRNA-seq/*.tar

# Harvey scRNA-seq large data
data/Harvey_scRNA-seq/10x/
data/Harvey_scRNA-seq/*.h5ad